
/* STUFF FOR MOBILE VERSION - MUST BE OVERWRITTEN IN SECTON FOR LARGE SCREENS */

body {
  background: #FBFBFB;
  padding: 0px;
  margin: 0px;
  width: 400px;
  font-size: 0.9em;
  font-family: "Liberation Serif", "IPAPGothic";
}

.menu {
  padding: 4px;
  margin-bottom: 8px;
  background: #F5F5F5;
  border-bottom: 1px solid #F0F0F0;
}

.contents-left, .contents-right {
	padding: 2px;
}

/* SUTFF FOR LARGE SCREENS */

@media (min-device-width: 400px) and (min-width: 400px) {
	body {
	  	width: 100%;
	}


	.menu {
		padding-left: 10px;
		padding-right: 10px;
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
	}

	.menu .right {
		float: right;
	}

	.menu .right a {
		text-align: right;
	}

	.menu a {
		display: inline-block;
		padding: 4px;
		padding-left: 25px;
		padding-right: 25px;
	}

	
	.contents-left {
		position: fixed;
		top: 50px;
		left: 0px;
		bottom: 0px;
		width: 300px;
		border-right: 1px solid #ddd;
		overflow: auto;
		padding: 16px;
	}

	.contents-right {
		margin-top: 50px;
		margin-left: 332px;
		padding: 16px;
	}


	label {
		border-bottom: 1px dashed gray;
	}

	label, .empty_label {
	  display: inline-block;
	  width: 200px;
	  margin-right: 8px;
	}

	form {
	  padding-left: 8px;
	  padding-bottom: 8px;
	  border: 1px solid #DDD;
	  border-top: 0px;
	  border-right: 0px;
	  margin-top: 16px;
	}

	input[type=submit], button {
		width: 100px;
		margin-right: 8px;
	}

	input[type=text], input[type=password] {
		width: 300px;
	}

	select {
		width: 200px;
		margin-left: 4px;
	}

	iframe, textarea {
	  border: 1px solid #CCC;
	  width: 98%;
	  height: 300px;
	}

	textarea {
		margin: 8px;
	}
}

/* GENERAL STUFF */



a {
  color: #007;
  text-decoration: none;
}

h1 {
  clear: both;
  margin: 0px;
  padding: 0px;
  font-size: 1.2em;
  text-align: center;
  text-transform: uppercase;
}



dt {
	font-weight: bold;
}

iframe, textarea {
	width: 98%;
	min-height: 200px;
}


.error {
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid #FBB;
  color: #A22;
  background-color: #FFE0FF;
}

.message {
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid #CFC;
  background-color: #E7FFE7;
  color: #060;
}

.tree_branch {
	border-left: 1px solid #ddd;
	padding-left: 16px;
	margin-bottom: 4px;
}

.tree_root p {
	margin: 0px;
	padding: 1px;
	padding-top: 8px;
}

.tree_branch p {
	margin: 0px;
	padding: 1px;
}

.small_right {
	clear: right;
	float: right;
}

.small_right, .tool_link {
	font-size: 0.8em;
}

.small_right a, .tool_link {
	font-style: italic;
}

.ordering_links {
	font-size: 0.8em;
	margin-top: 10px;
	margin-left: 50px;
	color: #444;
}

table {
	margin: 8px;
	width: 99%;
	border-collapse: collapse;
}

td, th {
	border: 1px solid #E0E0E0;
}

td {
	background-color: #F7F7F7;
	padding: 6px;
	vertical-align: top;
}

th {
	background-color: #E7E7E7;
	padding: 2px;
	text-align: center;
}

.invisible_td {
	border: none;
	background: transparent;
	padding: 0px;
	padding-top: 8px;
}

code {
	font-size: 1.2em;
}

abbr {
	border-bottom: 1px dashed #999;
}

hr {
	border: 0px;
	border-bottom: 1px dashed #AAA;
}


/* CARDS */

.study_card {
	margin: 16px;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 8px;
	background: #F7F7F7;
}

.study_card code {
	margin-left: 16px;
	margin-bottom: 8px;
	display: block;
}

.scb1 {
	border-left: 1px solid #DD00DD;
	border-bottom: 1px solid #DD00DD;
}

.scb2 {
	border-left: 1px solid #FF7777;
	border-bottom: 1px solid #FF7777;
}

.scb3 {
	border-left: 1px solid #FFAA00;
	border-bottom: 1px solid #FFAA00;
}

.scb4, .scb5, .scb6 {
	border-left: 1px solid #00CC00;
	border-bottom: 1px solid #00CC00;
}

.scb7 {
	border-left: 1px solid #0000FF;
	border-bottom: 1px solid #0000FF;
}

/* Study lists */

.study_note_td {
	font-size: 0.8em;
	background: white;
	text-align: right;
	padding: 2px;
	padding-right: 16px;
	padding-left: 16px;
	padding-bottom: 4px;
}

.review_item{
	text-align: center;
}
.review_item .box, .review_item .box2, .review_item .boxn {
	width: 400px;
	margin: auto;
	border: 1px solid #eeeeee;
	background: #ffffff;
}

.review_item .box {
	height: 300px;
}

.review_item .box2 {
	height: 220px;
}

.review_item .boxn {
	border-top: 0px;
	height: 74px;
	font-size: 0.8em;
	padding-top: 6px;
}

.review_item .boxn em {
	color: grey;
}

.review_item_prop span {
	display: inline-block;
	padding-right: 8px;
	font-size: 0.8em;
}

.rtk_kr_q_1, .rtk_kr_a_1, .rtk_kr_q_2, .rtk_kr_a_2 { margin: 0px; padding: 0px; padding-top: 50px; }
.rtk_kr_q_1, .rtk_kr_a_2 span { font-size: 4em; font-family: "IPAMincho", serif; }
.rtk_kr_q_2, .rtk_kr_a_1 span { font-size: 1.2em; }

/* blog */

.blog_post {
	margin: 4px;
	margin-top: 16px;
	border-left: 1px solid #ccc;
	border-bottom: 1px dashed #ccc;
	padding: 8px;
	padding-top: 16px;
}

.blog_post .inside {
	/*clear: right;
	padding-top: 1px;*/
}
.blog_post .small_right {
	margin-left: 100px;
}

.blog_post h2 {
	margin: 0px;
	padding: 0px;
	margin-left: 16px;
	font-size: 1.2em;
}

.blog_post h3 {
	margin: 0px;
	padding: 0px;
	margin-left: 16px;
	margin-bottom: 10px;
	font-size: 1.0em;
}
